<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {{'PRODOTTO' | translate}}
    <small>{{'PRODOTTO_DETAIL' | translate}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a ui-sref="logged.main"><i class="fa fa-dashboard"></i> {{'HOME' | translate}}</a></li>
    <li class="active">{{'PRODOTTO' | translate}}</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  	<div class="row">
		<div class="col-md-9">
			<div class="box box-default">
				<div class="box-body">
					<div class="row">
						<div class="col-md-6">
							<img ng-src="{{data.values.immagine}}" width="200" />
						</div>
						<div class="col-md-6">
							<h3 ng-bind-html="data.values.text"></h3>
							<h4>Riferimento: {{data.values.id_prodotto}}</h4>
							<p>Catalogo: {{data.values.catalogo}}</p>
							<p>Categoria: {{data.values.categoria}}</p>
							<p>Stato: {{data.values.stato}}</p>
							<p ng-show="data.values.prezzo_listino"><strong>Listino: EUR {{data.values.prezzo_listino}}</strong> <span ng-class="{'oeam':data.values.oeam}"></span><span ng-class="{'new':data.values.new}"></span></p>
							<p ng-show="data.values.prezzo_netto"><strong>Netto: EUR {{data.values.prezzo_netto}}</strong></p>
						</div>
					</div>
				</div>
			</div>
			<div class="box box-default">
				<div class="box-header with-border">
	              <h3 class="box-title">Cross</h3>
	            </div>
				<div class="box-body">
					<p ng-repeat="c in data.cross">{{c.cross}}</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="box box-default">
            <div class="box-header with-border">
              <i class="fa fa-shopping-cart"></i>

              <h3 class="box-title">Carrello</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            	<div class="form-group">
                  <label>Quantità</label>
                  <input ng-model="qty" type="text" class="form-control">
                </div>
              	<button type="button" class="btn btn-block btn-warning" ng-click="addCart(data.values)">Aggiungi al carrello</button>
            </div>
            <!-- /.box-body -->
          </div>

		</div>
	</div>
</section><!-- /.content -->
