<div class="wrapper">
      <header class="main-header">
        <!-- Logo -->
        <a ui-sref="logged.main" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>T</b>CD</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Tacaje</b>CDA</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a class="dropdown-toggle" data-toggle="dropdown" ng-click="getCart()">
                  <i class="fa fa-shopping-cart"></i>
                  <span class="hidden-xs">{{'YOUR_CART' | translate}}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- Cart list -->
                  <li class="user-header" ng-show="cartList">
                    <table class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <tr><td>Prodotto</td><td>Quantità</td><td>Prezzo</td></tr>
                      <tr ng-repeat="prodotto in cartList">
                        <td>{{prodotto.id_prodotto}}</td>
                        <td>{{prodotto.quantita}}</td>
                        <td>{{prodotto.prezzo*prodotto.quantita}}</td>
                      </tr>
                    </table>
                  </li>

                  <li class="user-header" ng-show="!cartList">
                    Nessun prodotto dentro il carrello
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-gears"></i>
                  <span class="hidden-xs">{{user.username}}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <p>
                      {{user.username}}
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a ng-click="editMyUser()" class="btn btn-default btn-flat">{{'CHANGE_PASSWORD' | translate}}</a>
                    </div>
                    <div class="pull-right">
                      <a ng-click="doLogout()" class="btn btn-default btn-flat">Logout</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left info">
              <p>{{user.nome}} {{user.cognome}}</p>

              <a><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MENU</li>
            <li ng-repeat="module in permissions" ng-switch on="module.hasOwnProperty('children')" ng-class="{'treeview': module.hasOwnProperty('children')}">
            <a ng-switch-when="true">
                  <i class="fa fa-{{module.icon}}"></i> <span>{{module.titolo}}</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu" ng-switch-when="true">
                  <li ng-repeat="page in module.children" ng-switch on="page.hasOwnProperty('children')">
                        <a ng-switch-default ui-sref="{{page.state}}"><i class="fa fa-{{page.icon}}"></i> {{page.titolo}}</a>
                        <a ng-switch-when="true" href><i class="fa fa-{{page.icon}}"></i> {{page.titolo}} <i class="fa fa-angle-left pull-right"></i></a>
                        <ul ng-switch-when="true" class="treeview-menu">
                          <li ng-repeat="p in page.children" ><a ui-sref="{{p.state}}"><i class="fa fa-{{p.icon}}"></i> {{p.titolo}}</a></li>
                        </ul>
                  </li>
            </ul>
            <a ui-sref="{{module.state}}" ng-switch-default ng-if="module.state != ''">
              <i class="fa fa-{{module.icon}}"></i>
              <span>{{module.titolo}}</span>
            </a>
            </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <div ui-view></div>
      </div>
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 1.0
        </div>
      </footer>
    </div><!-- ./wrapper -->
