    <div class="login-box">
      <div class="login-logo">
        <a ui-sref="login"><b>{{project.Name}}</b> CMS</a>
      </div>
      <div class="login-box-body" ng-hide="pwdForgot">
        <p class="login-box-msg">{{'LOGIN_INSERT_DATA' | translate}}</p>
        <form name="loginForm">
          <div class="form-group has-feedback" ng-class="{'has-error': hasError}">
            <input type="text" name="username" ng-model="user.username" class="form-control" placeholder="{{'LOGIN_EMAIL' | translate}}" required />
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback" ng-class="{'has-error': hasError}">
            <input type="password" name="password" ng-model="user.password" class="form-control" placeholder="{{'LOGIN_PW' | translate}}" required />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" ng-click="doLogin()" class="btn btn-primary btn-block btn-flat" ng-disabled="loginForm.$invalid">{{'LOGIN_LG' | translate}}</button>
            </div>
          </div>
        </form>
        <a ng-click="(pwdForgot = true)">{{'LOGIN_LSPWS' | translate}}</a>
      </div>

      <div class="login-box-body" ng-show="pwdForgot">
        <p class="login-box-msg">{{'LOGIN_LSPWS_EMAIL' | translate}}</p>
        <form name="pwdForgotForm">
          <div class="form-group has-feedback" ng-class="{'has-error': hasError}">
            <input type="text" name="username" ng-model="user.username" class="form-control" placeholder="{{'LOGIN_EMAIL' | translate}}" required />
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" ng-click="doPwdReset()" class="btn btn-primary btn-block btn-flat" ng-disabled="pwdForgotForm.$invalid">{{'LOGIN_LSPWS_PW' | translate}}</button>
            </div>
          </div>
        </form>
        <p ng-show="pwdSent">{{'LOGIN_LSPWS_SENT' | translate}}</p>
        <a ng-click="(pwdForgot = false)">{{'LOGIN_LSPWS_BKLG' | translate}}</a>
      </div>
    </div>