        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            {{'RICERCHE' | translate}}
            <small>{{'RICERCHE_LIST' | translate}}</small>
          </h1>
          <ol class="breadcrumb">
            <li><a ui-sref="logged.main"><i class="fa fa-dashboard"></i> {{'HOME' | translate}}</a></li>
            <li class="active">{{'RICERCHE' | translate}}</li>
          </ol>
        </section>
        <!-- Main content -->
        <section class="content" ng-show="permissions.list">
          <!-- START ALERTS AND CALLOUTS -->
          <div class="row">
            <div class="col-md-12">
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">{{'RICERCHE_FILTER' | translate}}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                {{'RICERCHE_FILTER_NAME' | translate}}: <input type="text" ng-model="search.titolo">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">{{'RICERCHE_LIST' | translate}}</h3>
                </div><!-- /.box-header -->


                <script type="text/ng-template" id="nodes_renderer.html">
                  <div class="row" ng-class-odd="'odd'" ng-class-even="'even'">
                    <div class="col-sm-7 ng-cloak" ui-tree-handle>
                      <h4>{{node.titolo}}</h4>
                    </div>
                    <div class="col-sm-3">
                      <button class="btn" ng-class="node.active ? 'btn-success' : 'btn-danger'" ng-click="doActive(node,!node.active)">{{node.active ? 'Attivo' : 'Non attivo'}}</button>
                    </div>
                    <div class="col-sm-2">
                       <div class="btn-group" dropdown is-open="status.isopen">
                           <button ng-click="doDelete(node);" type="button" class="btn btn-primary" ng-show="permissions.delete">
                            {{'DELETE' | translate}}
                          </button>
                       </div>
                    </div>
                  </div>
                  <div class="row" ui-tree-nodes="" ng-model="node.nodes" >
                    <li ng-repeat="node in node.nodes | filter:search" ui-tree-node ng-include="'nodes_renderer.html'">
                    </li>
                  </div>
                </script>

                <div class="box-body" ui-tree="treeOptions">
                  <ul class="products-list product-list-in-box ng-cloak" ui-tree-nodes="" ng-model="ricerche" id="tree-root" >
                    <li ng-repeat="node in ricerche | filter:search" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                  </ul>
                </div><!-- /.box-body -->

              </div><!-- /.box -->
            </div><!-- /.col -->
          </div>
        </section><!-- /.content -->
