				<div class="startup" ng-show="!showInterface">
						<svg class="spinner-container" width="65px" height="65px" viewBox="0 0 52 52">
							<circle class="path" cx="26px" cy="26px" r="20px" fill="none" stroke-width="4px" />
						</svg>
				</div>
        <!-- Content Header (Page header) -->
        <section class="content-header" ng-show="showInterface">
          <h1>
            {{'USERS' | translate}}
            <small>{{'USERS_UPDATE' | translate}}</small>
          </h1>
          <ol class="breadcrumb">
            <li><a ui-sref="logged.main"><i class="fa fa-dashboard"></i> {{'HOME' | translate}}</a></li>
            <li><a ui-sref="logged.users.list"><i class="fa fa-users"></i> {{'USERS' | translate}}</a></li>
            <li class="active">{{'USERS_UPDATE' | translate}}</li>
          </ol>
        </section>
        <!-- Main content -->
        <section class="content" ng-show="showInterface && permissions.edit">
          <div class="row">
            <form name="form" role="form">
						<div class="col-md-6">
              <!-- general form elements disabled -->
              <div class="box box-warning">
                <div class="box-header">
                  <h3 class="box-title">{{'USERS_UPDATE_DATA' | translate}}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <!-- text input -->
                    <div class="form-group" ng-class="{ 'has-error' : form.nome.$invalid }">
                      <label>{{'USERS_UPDATE_FORM_NAME' | translate}}</label>
                      <input type="text" class="form-control" name="nome" required placeholder="{{'USERS_UPDATE_FORM_NAME_LBL' | translate}}" ng-model="usr.utente">
                    </div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
						<div class="col-md-6">
              <!-- general form elements disabled -->
              <div class="box box-warning">
                <div class="box-header">
                  <h3 class="box-title">{{'USERS_UPDATE_ACCESS' | translate}}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
									<div class="form-group" ng-class="{ 'has-error' : form.username.$invalid }" ng-show='!usr.cod' >
										<label>{{'USERS_UPDATE_FORM_USERNAME' | translate}}</label>
										<input type="username" class="form-control" name="username" placeholder="{{'USERS_UPDATE_FORM_USERNAME_LBL' | translate}}" ng-model="usr.username" ng-required='!usr.cod' >
									</div>
									<div class="form-group" ng-class="{ 'has-error' : form.pwd.$invalid }">
										<label>{{'USERS_UPDATE_FORM_PWD' | translate}}</label>
										<input type="password" class="form-control" name="pwd" placeholder="{{'USERS_UPDATE_FORM_PWD_LBL' | translate}}" ng-model="usr.password" ng-pattern="/^(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?!.*\s).{8,}$/" ng-required='!usr.cod' >
									</div>
									<div class="form-group" ng-class="{ 'has-error' : form.confirm_password.$invalid }">
										<label>{{'USERS_UPDATE_FORM_PWDCNF' | translate}}</label>
										<input type="password" class="form-control" name="confirm_password" placeholder="{{'USERS_UPDATE_FORM_PWDCNF_LBL' | translate}}" ng-model="usr.confirm_password" ui-validate=" '$value==usr.password' " ui-validate-watch=" 'usr.password' " ng-pattern="/^(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?!.*\s).{8,}$/">
									</div>
									<span ng-show='form.pwd.$error.pattern'>{{'USERS_UPDATE_FORM_PWDERROR' | translate}}.<br /><br />
									{{'USERS_UPDATE_FORM_PWDERROR_LBL' | translate}}:<br />
									- {{'USERS_UPDATE_FORM_PWDERROR_LOWCHAR' | translate}}<br />
									- {{'USERS_UPDATE_FORM_PWDERROR_NUM' | translate}}<br />
									- {{'USERS_UPDATE_FORM_PWDERROR_8CHAR' | translate}}</span>
									<span ng-show='form.confirm_password.$error.validator'>{{'USERS_UPDATE_FORM_PWDERROR_MATCH' | translate}}</span>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
						</form>
          </div>
          <div class="row">
						<a class="btn btn-app" ng-click="doSave(usr)" ng-disabled="form.$invalid">
							<i class="fa fa-save"></i> {{'SAVE' | translate}}
						</a>
						<a class="btn btn-app" ui-sref="logged.users.list">
							<i class="fa fa-undo"></i> {{'UNDO' | translate}}
						</a>
					</div>
        </section><!-- /.content -->
