        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            {{'USERS' | translate}}
            <small>{{'USERS_LIST' | translate}}</small>
          </h1>
          <ol class="breadcrumb">
            <li><a ui-sref="logged.main"><i class="fa fa-dashboard"></i> {{'HOME' | translate}}</a></li>
            <li class="active">{{'USERS' | translate}}</li>
          </ol>
        </section>
        <!-- Main content -->
        <section class="content" ng-show="permissions.list">
          <!-- START ALERTS AND CALLOUTS -->
          <div class="row">
            <div class="col-md-12">
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">{{'USERS_FILTER' | translate}}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
{{'USERS_FILTER_NAME' | translate}}: <input type="text" ng-model="search.utente">
{{'USERS_FILTER_USERNAME' | translate}}: <input type="text" ng-model="search.username">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">{{'USERS_LIST' | translate}}</h3>
                  <button class="btn btn-success pull-right" ng-click="doInsert()" ng-show="permissions.add"><i class="fa fa-plus-circle"> {{'USERS_ADDNEW' | translate}}</i></button>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <ul class="products-list product-list-in-box ng-cloak" >
                    <li class="item" ng-repeat="user in users | filter:search" ng-class-odd="'odd'" ng-class-even="'even'">
                      <div class="col-sm-9 ng-cloak">
                         <h4>{{user.utente}}</h4>
                         Username: {{user.username}}<br />
                         Livello: {{user.livello}}
                      </div>
                      <div class="col-sm-3 text-right">
                        <div class="btn-group btn-block">
                           <button ng-click="doEdit(user);" type="button" class="btn btn-primary" ng-show="permissions.edit">
                             {{'UPDATE' | translate}}
                           </button>
                            <button ng-click="doDelete(user);" type="button" class="btn btn-primary" ng-show="permissions.delete">
                             {{'DELETE' | translate}}
                           </button>
                        </div>
                     </div>
                    </li>
                  </ul>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div>
        </section><!-- /.content -->
