				<div class="startup" ng-show="!showInterface">
						<svg class="spinner-container" width="65px" height="65px" viewBox="0 0 52 52">
							<circle class="path" cx="26px" cy="26px" r="20px" fill="none" stroke-width="4px" />
						</svg>
				</div>
        <!-- Content Header (Page header) -->
        <section class="content-header" ng-show="showInterface">
          <h1>
            Utenti
            <small>Modifica anagrafica Utente</small>
          </h1>
          <ol class="breadcrumb">
            <li><a ui-sref="logged.main"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Modifica utente</li>
          </ol>
        </section>
        <!-- Main content -->
        <section class="content" ng-show="showInterface">
          <div class="row">
            <form name="form" role="form">
						<div class="col-md-6">
              <!-- general form elements disabled -->
              <div class="box box-warning">
                <div class="box-header">
                  <h3 class="box-title">Dati anagrafici</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <!-- text input -->
                    <div class="form-group" ng-class="{ 'has-error' : form.nome.$invalid }">
                      <label>Nome</label>
                      <input type="text" class="form-control" name="nome" required placeholder="Inserisci il Nome" ng-model="usr.utente">
                    </div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
						<div class="col-md-6">
              <!-- general form elements disabled -->
              <div class="box box-warning">
                <div class="box-header">
                  <h3 class="box-title">Dati di Accesso</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
									<div class="form-group" ng-class="{ 'has-error' : form.username.$invalid }" ng-show='!usr.cod' >
										<label>Username</label>
										<input type="username" class="form-control" name="username" placeholder="Username" ng-model="usr.username" ng-required='!usr.cod' >
									</div>
									<div class="form-group" ng-class="{ 'has-error' : form.pwd.$invalid }">
										<label>Password</label>
										<input type="password" class="form-control" name="pwd" placeholder="Password" ng-model="usr.password" ng-pattern="/^(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?!.*\s).{8,}$/" ng-required='!usr.cod' >
									</div>
									<div class="form-group" ng-class="{ 'has-error' : form.confirm_password.$invalid }">
										<label>Conferma Password</label>
										<input type="password" class="form-control" name="confirm_password" placeholder="Conferma Password" ng-model="usr.confirm_password" ui-validate=" '$value==usr.password' " ui-validate-watch=" 'usr.password' " ng-pattern="/^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{8,}$/">
									</div>
									<span ng-show='form.pwd.$error.pattern'>Password non formattata correttamente.<br /><br />
									Inserire una password che contiene:<br />
									- almeno una lettera minuscola<br />
									- almeno un numero<br />
									- al massimo 8 caratteri</span>
									<span ng-show='form.confirm_password.$error.validator'>Le password non coincidono</span>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
						</form>
          </div>
          <div class="row">
						<a class="btn btn-app" ng-click="doSave(usr)" ng-disabled="form.$invalid">
							<i class="fa fa-save"></i> Save
						</a>
					</div>
        </section><!-- /.content -->
