<!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            {{user.username || 'Dashboard'}}
            <small>Pannello di controllo</small>
          </h1>
          <ol class="breadcrumb">
            <li><a  ui-sref="logged.main"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

          <div class="row">
            <div class="col-md-12">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" ng-model="search.value">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-info btn-flat" ng-click="doSearch()">{{'DO_SEARCH' | translate}}</button>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" ng-repeat="r in ricerche"><button type="button" class="btn btn-primary btn-lg" ng-click="doSearch(r.params)">{{r.titolo}}</button></div>
          </div>
          <div class="row" ng-show="clientsList.length > 0">
            <div class="col-md-6">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Seleziona un cliente dall'elenco</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <p class="text-muted ng-binding">
                    <input class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" autofocus="autofocus" ng-model="searchText" placeholder="Digita un nome per effettuare una ricerca...">
                  </p>
                  <table class="table table-bordered" ng-show="searchText">
                    <tbody>
                    <tr>
                      <th>Num. Conto</th>
                      <th>Cliente</th>
                    </tr>
                    <tr ng-repeat="c in filteredNames | orderBy:'ragione_sociale'" ng-click="chooseClient(c)">
                      <td>{{c.id}}</td>
                      <td>{{c.ragione_sociale}}</td>
                    </tr>
                  </tbody></table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
          </div>
          <div class="row">
            <amazon-table params="params" control="amazonTableControl" />
          </div>

        </section><!-- /.content -->