<section ng-show="data">
	<div class="col-md-2">
		<div class="box box-default box-solid collapsed-box">
			<div class="box-header with-border">
			  <h3 class="box-title">{{'FILTERS' | translate}}</h3>
			  <div class="box-tools pull-right">
			    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
			    </button>
			  </div>
			  <!-- /.box-tools -->
			</div>
			<!-- /.box-header -->
			<div class="box-body" style="display: none;">
				<form name="filterForm">
			  <div class="form-group" ng-repeat="f in filters.fields">    
			    <div ng-switch on="f.type">
			      <div ng-switch-when="list" >
			        <label for="{{f.field}}">{{f.text}}</label>
			        <input type="text" class="form-control" ng-model="search.nome" placeholder="Filtra {{f.text}} per..">
			        <div class="checkbox" ng-repeat="v in f.values | filter:search | limitTo: limit as results">
			          <label>
			            <input type="checkbox" ng-model="v.checked"> {{v.nome}}
			          </label>
			        </div>
			        <button class="btn btn-primary" ng-hide="results.length === f.values.length" ng-click="limit = limit +range">{{'SHOW_MORE' | translate}}</button>
			      </div>
			      <div ng-switch-when="text" >
			        <label for="{{f.field}}">{{f.text}}</label>
			        <div class="text">
			          <label>
			            <input class="form-control" type="text" ng-model="f.value">
			          </label>
			        </div>
			      </div>
			      <div class="checkbox" ng-switch-when="boolean">
			        <label>
			          <input type="checkbox" ng-model="f.checked"> {{f.text}}
			        </label>
			      </div>
			    </div>
			  </div>
			  </form>
			</div>
			<!-- /.box-body -->
			<div class="box-footer">
			  <button type="submit" class="btn btn-primary" ng-click="applyFilters()">{{'DO_FILTER' | translate}}</button>
			</div>
		</div>
		<!-- /.box -->
		<div ng-show="isAdmin">
			<label for="saveSearch">Salva ricerca come...</label>
	        <div class="text">
	          <label>
	            <input class="form-control" type="text" ng-model="customSearch.name">
	          </label>
	        </div>
			<button ng-click="saveSearchAs()" type="button" class="btn btn-primary"  ng-disabled="!customSearch.name">Salva Ricerca</button>
			<div class="alert alert-success" ng-show="saveSearchConfirm">
	            Salvataggio avvenuto correttamente.
	        </div>
		</div>

	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-12 text-right">
				<div class="form-group">
                  <label>Ordina per </label>
                  <select class="form-control" ng-model="sortBy.selected" ng-change="applyOrder()">
					<option ng-repeat="s in sortBy" value="{{s}}">{{s.text}}</option>
				</select>
                </div>
			</div>
		</div>
		<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
		<div class="row">
			<div dir-paginate="s in data | itemsPerPage: dataPerPage" total-items="totalItems" current-page="pagination.current" class="col-lg-4 col-md-6 col-xs-12">
				<img ng-src="{{s.immagine}}" width="200" />
				<h3 ng-bind-html="s.text"></h3>
				<h4>Riferimento: {{s.id_prodotto}}</h4>
				<p>Catalogo: {{s.catalogo}}</p>
				<p>Categoria: {{s.categoria}}</p>
				<p>Stato: {{s.stato}}</p>
				<p ng-show="s.prezzo_listino"><strong>Listino: EUR {{s.prezzo_listino}}</strong> <span ng-class="{'oeam':s.oeam}"></span><span ng-class="{'new':s.new}"></span></p>
				<p ng-show="s.prezzo_netto"><strong>Netto: EUR {{s.prezzo_netto}}</strong></p>
				<a href="#/logged/productDetail/{{s.id_prodotto}}">Vai al dettaglio</a>
			</div>
		</div>
		<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
	</div>
	</section>