body {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.select2 > .select2-choice.ui-select-match {
/* Because of the inclusion of Bootstrap */
height: 29px;
}

.selectize-control > .selectize-dropdown {
top: 36px;

}
/* Hide Angular JS elements before initializing */
.ng-cloak {
display: none;
}
.even {
background-color:#fffffff;
}
.odd {
background-color:#eeeeee;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.startup {
width: 100%;
height: 100%;

-moz-user-select: none;
-webkit-user-select: none;

display: flex;
align-items: center;
justify-content: center;
text-align: center;
vertical-align: middle;
z-index:999999;
}

.spinner-container {
animation: rotate 2s linear infinite;
-webkit-animation: rotate 2s linear infinite;
}

.spinner-container .path {
stroke-dasharray: 1,150; /* 1%, 101% circumference */
stroke-dashoffset: 0;
stroke: rgba(27, 154, 89, 0.7);
stroke-linecap: round;
animation: dash 1.5s ease-in-out infinite;
-webkit-animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate{
100% { transform: rotate(360deg); }
}

@keyframes dash {
0% {
stroke-dasharray: 1,150;  /* 1%, 101% circumference */
stroke-dashoffset: 0;
}
50% {
stroke-dasharray: 90,150; /* 70%, 101% circumference */
stroke-dashoffset: -35;   /* 25% circumference */
}
100% {
stroke-dasharray: 90,150; /* 70%, 101% circumference */
stroke-dashoffset: -124;  /* -99% circumference */
}
}

@-webkit-keyframes rotate{
100% { transform: rotate(360deg); }
}

@-webkit-keyframes dash {
0% {
stroke-dasharray: 1,150;  /* 1%, 101% circumference */
stroke-dashoffset: 0;
}
50% {
stroke-dasharray: 90,150; /* 70%, 101% circumference */
stroke-dashoffset: -35;   /* 25% circumference */
}
100% {
stroke-dasharray: 90,150; /* 70%, 101% circumference */
stroke-dashoffset: -124;  /* -99% circumference */
}
}
.popover{
max-width: 100%;
width: auto;
word-wrap: break-word;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.has-error .dropzone {border:1px solid #ff0000;}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu>a:hover {
    background-color: #e1e3e9;
    color: #333;
}
.dropdown-submenu>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
